* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: orange;
}
h1 {
  color: black;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  width: 400px;
  margin: 10px auto;
  background: transparent;
  border-radius: 20px;
  border-bottom: 5px solid black;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}
.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.choice:hover {
  cursor: pointer;
  background-color: #214874;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.scoreBoard {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
  gap: 5rem;
}
#userScore,
#compScore {
  font-size: 4rem;
}
.msgContainer {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
#msg {
  background-color: black;
  color: orange;
  font-size: 2rem;
  display: inline;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
