body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 28px;
  border-radius: 15px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  margin: 10px;
  max-width: 600px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.heading {
  font-size: 28px;
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
  width: 70%;
  margin: 0px auto;
  margin-bottom: 20px;
  padding: 5px 7px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.input {
  height: 53px;
  width: 300px;
  background-color: transparent;
  font-size: 16px;
  padding: 0 42px;
  border: 2px solid black;
  border-radius: 30px;
}
.meaningContainer {
  display: none;
}
.meaningContainer .title {
  font-style: italic;
  font-weight: bolder;
}
.definitions {
  display: flex;
  flex-direction: column;
}
.definitions label {
  text-align: start;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: bold;
}
.definitions .def {
  font-style: italic;
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  padding: 7px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
